<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to myTunes, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up.
      Your username is: <%= @user.email %>.<br>
    </p>
    <p>
      Log in to myTunes here: <%= @url %>
    </p>
    <p>
      Once on the site, you can create a profile, make friends with other musicians
      and start posting your own content.
    </p>
    <p>Thanks for joining, and have fun!</p>
  </body>
</html>
