<div class="py-8">
  <p class="font-extrabold text-6xl">
    Pending Friend Requests<br><br>
    <% current_user.pending_friend_requests.each do |p| %>
      <% requester = p.requesting_user %>
      <%= requester.name %> -
      <%= link_to 'Confirm', confirm_friendships_path(id: p.id), method: :post %> -
      <%= link_to 'Deny', friendship_path(id: p.id), method: :delete %><br>
    <% end %><br>
    <%= link_to 'Back to User Index', users_index_path %>
  </p>
</div>
