<%= render 'shared/navbar' %>

<div class="py-8">
  <p class="font-extrabold text-6xl">
    <%= current_user.name %>'s Friends<br><br>
    <% @friends.each do |f| %>
      <%= link_to f.name, user_path(f.id) %><br>
    <% end %><br>
  </p>
</div>