<div class="py-8">
  <p class="font-extrabold text-6xl">
    Logged in as <%= current_user.name %><br><br>
    Your Feed:<br>
    <% @posts.each do |p| %>
      <% if p.user.id == current_user.id %>
        <%= p.user.name %><br>
        <%= p.body %><br><br>
      <% end %>
    <% end %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </p>
</div>
